/DateTimeTesting
/OLD-Synote-Blackboard-Java
/OLD-syn-synote-blackboard-tool
/RemoteSystemsTempFiles
/Testing Jose4j
/waterlock-blackboard-auth
/Waterlock-Blackboard-Auth-Java
/.metadata
/.recommenders